# IDE
*.iml
.gradle
/local.properties
/.idea/
.DS_Store

*.jks
*.keystore
key.properties
keystore/

# Build folders
build/
composeApp/build/
iosApp/build/
iosApp/Pods/
iosApp/*.xcworkspace/xcuserdata/
iosApp/*.xcodeproj/project.xcworkspace/xcuserdata/

# Native
.externalNativeBuild
.cxx

# Kotlin / Fleet / Tooling
/.kotlin/
.fleet/

# JVM crashes
hs_err*
replay_*
core_*

# Misc
/captures
GEMINI.md
MIGRATION.md
